name: Documentation
on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  id-token: write
  contents: read
jobs:
  build:
    name: Build Docs
    runs-on: ubuntu-latest
    steps:
      - name: Check out branch
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@28eb668aafebd9dede9d97c4ba1cd9989a4d0004 # v0.9.2
        with:
          environments: docs
      - name: Install package
        run: pixi run -e docs postinstall
      - name: Build docs
        run: pixi run docs-build
      - name: Upload HTML
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: docs
          path: site
          if-no-files-found: error
